* {
    color: black;
}

body {
    overflow: auto;
    background-color: white;
}



ion-header {
    background-color: #012c56;

}

ion-toolbar {
  --background: rgba(255, 255, 255, 0);

}

ion-card {
 background-color: white;
}