<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="vista-est">
        <ion-icon name="car"></ion-icon>
        <ion-label>Estacionamientos</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="scanner">
        <ion-icon name="qr-code-outline"></ion-icon>
        <ion-label>Escáner</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="form-ingreso-est"
        ><ion-icon name="pencil-outline"></ion-icon>
        <ion-label>Registro</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="dashboards"
        ><ion-icon name="bar-chart-outline"></ion-icon>
        <ion-label>Dashboards</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
