<ion-header [translucent]="true">
  <ion-img
    src="../../../assets/estduoc.png"
    style="height: 100px; width: 200px; margin: 0 auto"
  ></ion-img>
</ion-header>

<ion-content [fullscreen]="true">
  <h1 style="text-align: center">dashboards</h1>

  <div>
    <p style="text-align: center">Barchart</p>
    <canvas id="barchart"></canvas>
    <ion-card style="background: #012c56">
      <ion-card-content>
        <h3 style="color: #fff">
          El estacionamiento más ocupado es el nro : {{maxKey}} con {{maxBar}}
          veces
        </h3>
        <h3 style="color: #fff">
          El estacionamiento menos ocupado es el nro : {{minKey}} con {{minBar}}
          veces
        </h3>
      </ion-card-content>
    </ion-card>

    <ion-row>
      <ion-col size="6">
        <p style="text-align: center">Radarchart</p>
        <canvas id="rochart"></canvas>
        <ion-card style="background: #012c56">
          <ion-card-content>
            <h3 style="color: #fff">
              Horas con mas movimiento vehicular: {{maxHora}}Hrs
            </h3>
            <h3 style="color: #fff">
              Horas con menos movimiento vehicular : {{minHora}}Hrs
            </h3>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <canvas id="piechart"></canvas>
        <p style="text-align: center">Piechart</p>
        <ion-card style="background: #012c56">
          <ion-card-content>
            <h3 style="color: #fff">
              El estacionamiento más ocupado es el nro : {{maxKey}} con
              {{maxBar}} veces
            </h3>
            <h3 style="color: #fff">
              El estacionamiento menos ocupado es el nro : {{minKey}} con
              {{minBar}} veces
            </h3>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
