<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-img src="../../../assets/estduoc.png" style="height: 100px; width: 200px; margin: 0 auto"></ion-img>

    <ion-buttons slot="start">
      <ion-menu-button color="light" menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<body>
  <div style="margin-top: 15vh;">
    <ion-grid>
      <ion-row>
        <ion-col></ion-col>
        <ion-col>    
          <form class = "form-register" [formGroup]="formIngresoEst" (submit)="registrarEntradaEst()">
          <strong><h4>Registro de ingresos</h4></strong>
          <label for="email">Email</label>
          <input 
            class = "controls" 
            id="email" 
            type="text" 
            formControlName="email" 
            placeholder="Ej: ejemplo@duocuc.cl"
            required 
            email />
          <label for="patente">Patente</label>
          <input class = "controls" 
            id="patente" 
            placeholder="Ej: AABB34 o aabb12"
            type="text" 
            formControlName="patente" 
            pattern="[a-z]{2}[a-z]{2}\d{2}"
            required/>
          <strong><p>Tipo de estacionamiento</p></strong>
          <div>
            <label for="tipoEst">Regular</label>
            <br>
            <input class = "control"
            required
            id="tipoEst"
            type="radio"
            formControlName="tipoEst"
            value="regular"
          />
          <br>
          <br>
          <label for="tipoEst">Preferencial</label>
          <br>
          <input class = "control"
            required
            id="tipoEst"
            type="radio"
            formControlName="tipoEst"
            value="preferencial"
          />
          <br>
          <br>
          </div>
          
          <strong><p>Estacionamientos disponibles</p></strong>
            <ion-select label="Estacionamientos" placeholder="seleccionar">
              <ion-select-option *ngFor = "let est of estacionamientos">{{est}}</ion-select-option>
            </ion-select>
          
          <ion-buttons>
            <ion-button class = "boton" [disabled]="!formIngresoEst.valid" type="submit" >
              Enviar</ion-button
            >
          </ion-buttons>
        </form></ion-col>
        <ion-col></ion-col>
      </ion-row>
    </ion-grid>

  </div>


</body>
