<ion-header [translucent]="true">
  <ion-img
    src="../../../assets/estduoc.png"
    style="height: 100px; width: 200px; margin: 0 auto"
  ></ion-img>
</ion-header>

<ion-content [fullscreen]="true">
  <h1>Formulario de ingreso de estacionamiento</h1>

  <form [formGroup]="formIngresoEst" (submit)="registrarEntradaEst()">
    <label for="email">Email</label>
    <br />
    <input id="email" type="text" formControlName="email" required email />
    <br />
    <br />
    <label for="patente">Patente</label>
    <br />
    <input id="patente" type="text" formControlName="patente" required />
    <strong><p>Tipo de estacionamiento</p></strong>
    <input
      required
      id="tipoEst"
      type="radio"
      formControlName="tipoEst"
      value="regular"
    />
    <label for="tipoEst">Regular</label>
    <br />
    <input
      required
      id="tipoEst"
      type="radio"
      formControlName="tipoEst"
      value="preferencial"
    />
    <label for="tipoEst">Preferencial</label>
    <br />
    <br />
    <ion-buttons>
      <ion-button type="submit" style="background: blueviolet">
        Enviar</ion-button
      >
    </ion-buttons>
  </form>
</ion-content>
